<mat-card class="example-card">
    <div [routerLink]="['/details', book.id]">
      <mat-card-header>
          <mat-card-title>{{book.title}}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="{{book.thumbnail}}"
          alt="thumbnail of the book"
        />
        <mat-card-content >
          <p class="description">
            {{book.description}}
          </p>
          <p *ngIf=book.price>
              Ár: {{book.price}} {{book.currency}}
            </p>
        </mat-card-content>
    </div>

    <mat-card-actions>
      <div *ngIf=book.price>
          <button mat-raised-button color="primary" (click)="addToCart(book)">Add to cart</button>
      </div>
      <mat-error *ngIf=!book.price>Nem kapható a régiódban</mat-error>
    </mat-card-actions>
  </mat-card>